@model IEnumerable<ExpenseTracker.Models.TransactionViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" href="~/css/History.css" />
</head>

<body>
    <div class="whole">
            <h1>Overall Transaction History</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model)
                    {
                        <!--Details-->
                        <tr>
                            <td>@transaction.Description</td>
                            <td>₱ @transaction.Amount.ToString("N2")</td>
                            <td>@transaction.Category</td>
                            <td>@transaction.Type</td>
                            <td>@transaction.Date.ToString("yyyy-MM-dd")</td>

                            <!--Buttons-->
                            <td>
                                <a href="/Transactions/Details/@transaction.Id" class="btn">View</a>
                                <a asp-action="Edit" asp-route-id="@transaction.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@transaction.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

    </div>
</body>
</html>
